.main-header {
  background: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}

.main-header .showcase {
  padding-top: 100px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

#btn-login {
  color: #fff;
}
.social-icon:hover {
  color: #d847f1;
}

.btn-1a:hover,
.btn-1a:active {
  color: #9c27b0 !important;
  background: #fff !important;
}

nav ul a:hover {
  color: #d847f1;
}

.btn-1b:hover,
.btn-1b:active {
  color: #fff !important;
  background: #9c27b0 !important;
}
